html{
 font-size: 62.5%;

}

body{
 background-color: rgb(203, 223, 115);
}

*{
 margin: 0px;
 padding: 0px;
}

img {
 display:block;
 width: 25rem;
 aspect-ratio: 1/1;
 z-index: 1;
 border-radius: 2rem;
} 

.container {
 
 height: 100vh;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.img-container{
 z-index: 2;
 border-radius:2rem;
 box-shadow:0rem 1rem 2rem gray;
}

.img-container div{
 margin-top:-8rem;
 padding-bottom: 2rem;
 text-align: center;
}

.sub-container{
 width: 21rem;
 background-color: rgb(210, 201, 137);
 display: flex;
 justify-content: space-around;
 margin-top: -1.5rem;
 padding-top:2rem;
 z-index: 0;
 border-bottom-left-radius: 2rem;
 border-bottom-right-radius: 2rem;
 box-shadow:0rem 1rem 2rem gray;
}
.sub-container div p,h5{
text-align: center;
}

button{
display: block;
width:12rem;
border:0;
height: 3rem;
font-size: 2rem;
letter-spacing: 0.2rem;
background-color: slateblue;
color: aliceblue;
border-bottom-left-radius: 2rem;
 border-bottom-right-radius: 2rem;
}
