*{
 padding:0;
 margin:0;
}

body{

background-image:linear-gradient(to right,rgb(198, 55, 55),rgb(184, 221, 74));

}

.poke-container{
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap:30px
}

.pokedex-header{
 display: block;
 text-align: center;

}

.poke-card{
background-color: aliceblue;

 border-radius: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.poke-img{
display: flex;
width: 100%;
flex-direction: column;
}

.poke-img img{
width: 200px;
 aspect-ratio: 1/1;
 object-fit: fill;
padding:5px 20px;
 z-index: 2;
margin:0;
}
.hp {
 text-align: center;
 width: 50px;
 font-size: 16px;
 z-index: 5;
 border-radius: 10%;
 background-color: rgb(239, 103, 103);
 margin:0;
}

.ap{
 align-self: flex-end;
 width: 50px;
 font-size: 16px;
 text-align: center;
 z-index: 5;
 border-radius: 10%;
 background-color:rgb(221, 108, 108);
 margin:0;
}

.tur-yeri{
 width: 80%;
 display:flex;
 justify-content: space-around;
}

.poketur {
padding: 0 10px;
 border-radius: 30%;
 text-align: center;
 background-color:white;
 
}

.footer{
 margin-top:5px;
 color: rgba(44, 43, 43, 0.759);
}

